.metadata {
  color: #888;
}

#search-box .ant-input-search,
#search-results {
  width: var(--content-width);
}

#search-tools {
  margin-top: 3pt;
}

#search-results > .ant-spin {
  margin-top: 42px;
}

#search-results-list {
  margin-top: 42px;
}

.search-result-item {
  margin-bottom: 42px;
  font-size: 12pt;
}

.search-result-item > p,
.search-result-item > div {
  margin: 3pt 0;
}

.search-result-title {
  font-size: 150%;
}

.search-result-snippet .searchmatch {
  font-weight: 600;
}
