.metadata {
  color: #888;
}

#search-box sl-input,
#search-results {
  width: var(--content-width);
}

#search-tools {
  margin-top: 3pt;
}

#search-results > sl-spinner {
  margin-top: 42px;
}

#search-results-list {
  margin-top: 42px;
}
