body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --content-width: 42rem;
  --content-hpadding: 1rem;
}

@media only screen and (min-width: 1200px) and (orientation: landscape) {
  body {
    --content-hpadding: 10rem;
  }
}

@media only screen and (max-width: 44rem) {
  body {
    --content-width: 90vw;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

app-header {
  background-color: var(--sl-color-neutral-0);
  box-shadow: var(--sl-shadow-medium);
}

main {
  display: flex;
  flex-direction: column;
  padding: 24px var(--content-hpadding);
  min-height: calc(100vh - 128px);
  box-sizing: border-box;
}

omni-router {
  display: block;
  flex-grow: 1;
}

footer {
  text-align: center;
}
